/* .navbar-nav > li {
  padding-left: 40px;
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.9);
  /* App Bar Effects */

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(72px);
}

.app-title {
  font-weight: 500;
  font-size: 1.125rem;
}

.nav-menu {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto auto;
}

.menu-item {
  font-weight: 400;
}

.menu-item.active {
  font-weight: 500;
}

.app-title,
.menu-item {
  color: #2e2e2e;
  text-decoration: none;
}

@media screen and (min-width: 1320px) {
  .navbar {
    border-radius: 20px;
    margin-top: 20px;
  }
}
