.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.space-replace {
  height: 69px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.9);
  /* App Bar Effects */

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(72px);

  transition: height 2s;
}

.app-title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.nav-menu {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto auto;
  margin-bottom: 0;
}

.menu-item {
  font-weight: 400;
  margin-bottom: 0;
}

.menu-item.active {
  font-weight: 500;
}

.app-title,
.menu-item {
  color: #2e2e2e;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 1320px) {
  .sticky {
    margin-top: 20px;
  }

  .navbar {
    border-radius: 20px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar.hidden {
    height: 69px;
    overflow: hidden;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.75rem;
  }

  .menu-item {
    margin-bottom: 0.75rem;
  }

  .navbar > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    width: 100%;
  }

  .menu-icon {
    display: block;
  }
}
