.return > .return {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #2e2e2e;
  margin: 45px 0 64px 0;
  text-decoration: none;
  cursor: pointer;
}

.return > .return > .icon {
  margin-right: 18px;
}
