.add-destination .button-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 36px;
}

.add-destination .button-area > .add-destination-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.5px 25px;
  background: #ffeded;
  border-radius: 44px;
  text-decoration: none;
  border: none;
}

.add-destination .button-area > .add-destination-button > div {
  font-weight: 600;
  font-size: 1.125rem;
}

.none {
  display: none;
}
