.destination-list {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}

.destination-list-item {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.destination-list-item > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 25px;
}

/* .white-space-1 {
  height: 200px;
}

.white-space-2 {
  height: 100px;
} */

.destinations .button-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.destinations .button-area > .add-destination-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.5px 25px;
  background: #ffeded;
  border-radius: 44px;
  text-decoration: none;
}

.destinations .button-area > .add-destination-button > div {
  font-weight: 600;
  font-size: 1.125rem;
  margin-right: 18px;
}

.white-space {
  margin-bottom: 0 !important;
}

.destination-list-item:first-of-type > div:first-of-type {
  margin-top: 200px;
}

.destination-list-item:last-of-type > div:first-of-type {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .destination-list-item:first-of-type > div:first-of-type {
    margin-top: 0px;
  }
}

@media screen and (max-width: 576px) {
  .destination-list-item:last-of-type > div:first-of-type {
    margin-top: 100px;
  }
}
