.destination-list {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}

.destination-list-item {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.destination-list-item > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 25px;
}

.destination-item > .header > .image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.destination-item > .body {
  padding: 20px;
}

.destination-item > .body > .title {
  font-weight: 600;
  margin-bottom: 12px;
}

.destination-item > .body > .description {
  font-weight: 400;
  color: #9b9b9b;
}

.destination-item > .header {
  position: relative;
}

.destination-item > .header > .bottom-right {
  position: absolute;
  color: white;
  /* z-index: 2; */
  bottom: 16px;
  right: 16px;
}
